<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    
     <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" >
	  <!-- CSS Personalizzato -->
	  <link rel="stylesheet" th:href="@{/mystyle/css/global.css}" >
	  
	  <!-- Favicons -->
	<link rel="apple-touch-icon" th:href="@{/assets/img/favicons/apple-touch-icon.png}" th:sizes="180x180">
	<link rel="icon" th:href="@{/assets/img/favicons/favicon-32x32.png}" th:sizes="32x32" th:type="@{image/png}">
	<link rel="icon" th:href="@{/assets/img/favicons/favicon-16x16.png}" th:sizes="16x16" th:type="@{image/png}">
	<link rel="manifest" th:href="@{/assets/img/favicons/manifest.json}">
	<link rel="mask-icon" th:href="@{/assets/img/favicons/safari-pinned-tab.svg}" color="#563d7c">
	<link rel="icon" th:href="@{/assets/img/favicons/favicon.ico}">
	<script th:src="@{/assets/js/jquery-3.4.1.min.js}"></script>
	<meta name="msapplication-config" content="${pageContext.request.contextPath}/assets/img/favicons/browserconfig.xml">
	
	
	<!-- Custom styles for this template -->
	  <link th:href="@{/assets/css/signin.css}" rel="stylesheet">	  
    
</head>
<body class="text-center">
<img class="mb-4" th:src="@{/mystyle/brand/shop.png}" alt="" width="993" height="437">
<main role="main" class="container">
<div class='card-body' style="width: 18rem;">
<form class="form-signin" action="#" th:action="@{/auth/signin}" method="post" th:object="${userSigninModel}" Style="margin:200px">


<h2 class="h2 mb-2 font-weight-normal" style="color:#0056b3">Sign-in</h2>
<br>
<p style="color: red" th:if="${param.loginError}">Errore di login</p>
    <p style="color:#0056b3">Username: <input type="text" th:field="*{username}"/></p>
    <p style="color:#0056b3">Password: <input type="password" th:field="*{password}"/></p>
    <p><input class="btn btn-outline-primary btn-md" type="submit" value="Submit"/></p>
    <a th:href="@{/auth/signup}">Registrati</a>
    
</form>
</div>
</main>

</body>
</html>
