<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Update</title>
</head>
<body>
<a th:href="@{/customer}">Indietro</a>
<h1>Update Customer</h1>
<form action="#" th:action="@{/customer/executeUpdate}" method="post" th:object="${customerUpdateModel}">

	<input type="hidden" th:field="*{id}">
	<p style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
	
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

    <p>Mobile: <input type="text" th:field="*{mobile}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></p>

    <p>Address: <input type="text" th:field="*{address}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>

    <p><input type="submit" value="Conferma"/></p>
    
</form>
</body>
</html>