<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="alert alert-danger" style="color:red" th:if="${errorMessage}"	th:text="${errorMessage}" role="alert"></div>
<div class="alert alert-success" style="color:green" th:if="${successMessage}" th:text="${successMessage}" role="alert"></div>
<p><a th:href="@{/}">Indietro</a></p>
<h1>Dashboard Rappresentante Nazione</h1>
<div>
    <form action="#" th:action="@{/organizer}" th:object="${searchFilters}" method="get">
        <p>Nome: <input th:field="*{name}" type="text"></p>
        <p>Cognome: <input th:field="*{surname}" type="text"></p>
        <p>Codice Fiscale: <input th:field="*{fiscalCode}" type="text"></p>
        <p>Username: <input th:field="*{userSearchDto.username}" type="text"></p>
        <p>Nazione:</p>
	    <select th:field="*{nation}">
	    <option value="">Seleziona Nazione</option>
	    <option th:each="nation : ${nationsList}" th:value="${nation.id}" th:text="${nation.name}"></option>
		</select>
		<hr>
        <p><input type="submit" value="Cerca"/></p>  <p><a th:href="@{/organizer/prepareInsertNationRepresentative}">Registra Nuovo Rappresentante</a></p>
       
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice Fiscale</th>
        <th>Username</th>
        <th>Nazione</th>
    </tr>
    </thead>
    <tbody>
    
    <tr th:each="nationRepresentative : ${nationRepresentatives}" th:object="${nationRepresentative}">
        <td th:text="*{name}"></td>
        <td th:text="*{surname}"></td>
        <td th:text="*{fiscalCode}"></td>
        <td th:text="*{userDto.username}"></td>
        <td th:text="*{nationDto.name}"></td>
        
        <td>
        <a th:href="@{/organizer/showNationRepresentative/{idNationRepresentative}(idNationRepresentative=*{id})}">Visualizza</a>
        <a th:href="@{/organizer/prepareUpdateNationRepresentative/{idNationRepresentative}(idNationRepresentative=*{id})}">Modifica</a>
        <a th:href="@{/organizer/prepareDeleteNationRepresentative/{idNationRepresentativeDelete}(idNationRepresentativeDelete=*{id})}">Elimina</a>
        </td>
    </tr>
    </tbody>
</table>

 	<div th:object="${nationRepresentativeDeleteModel}">
    <p style="color:red" th:if="${#fields.hasErrors('idNationRepresentativeDelete')}" th:errors="*{idNationRepresentativeDelete}"></p>
    </div>

</body>
</html>